<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
		<%= link_to "Home", root_path %>
		<%= link_to "About", about_path %>
		<%= link_to "Contact", contact_path %>
		<%= link_to "Blog", blogs_path %>
		<%= link_to "Portfolio", portfolios_path %>
		<%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>